{% extends "layout.html" %}

{% block content %}


    <div class="container-fluid py-4">


<div class="container py-2 mt-4 mb-4">
  <div class="row no-gutters">
    <div class="col-sm py-2">
      <div class="card">
        <div class="card-body">
            <div class="float-right text-muted small">Attribuée par : Khalil MZOUGHI</div>
          <div class="float-right text-muted small">Début : 12:44 12/04/2024</div>
            <div class="float-right text-muted small">Fin : 16:44 12/04/2024</div>
            <div class="float-right text-muted small"><p class="text-danger">Retard 33 min</p></div>
          <h4 class="card-title">Faire les courses</h4>
          <p class="card-text">Welcome to the campus, introduction and get started with the tour.</p>
            <button href="#" class="btn btn-success">Terminer</button>
            <button href="#" class="btn btn-warning">Faire valider</button>
            <button href="#" class="btn btn-danger">Contester</button>
        </div>
      </div>
    </div>
  </div>
    <div class="row no-gutters">
    <div class="col-sm py-2">
      <div class="card">
        <div class="card-body">
            <div class="float-right text-muted small">Attribuée par : Khalil MZOUGHI</div>
          <div class="float-right text-muted small">Début : 12:44 12/04/2024</div>
            <div class="float-right text-muted small">Fin : 16:44 12/04/2024</div>
            <div class="float-right text-muted small"><p class="text-danger">Retard 33 min</p></div>
          <h4 class="card-title">Faire les courses</h4>
          <p class="card-text">Welcome to the campus, introduction and get started with the tour.</p>
            <button href="#" class="btn btn-success">Terminer</button>
            <button href="#" class="btn btn-warning">Faire valider</button>
            <button href="#" class="btn btn-danger">Contester</button>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}